@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto&display=swap");

:root {
  --main-font-family: "Roboto", sans-serif;
  --title-font-family: "Dancing Script", cursive;
  --main-background-color: #0f111b;
  --main-font-color: white;
  --point-skyblue-color: #09cefc;
  --sunday-red-color: #ee3b50;
  --not-current-date-color: grey;
}

#root {
  font-family: var(--main-font-family);
  font-size: 25px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
}

header {
  font-family: var(--title-font-family);
  font-size: 70px;
  margin-bottom: 40px;
}

footer {
  font-size: 14px;
}

li:nth-child(7n + 1) {
  color: var(--sunday-red-color);
}
