button {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 30px;
  color: var(--point-skyblue-color);
}

.year {
  font-size: 50px;
}

.month {
  font-size: 40px;
}
