.date {
  display: grid;
  grid-template-columns: repeat(7, minmax(90px, auto));
  grid-template-rows: repeat(6, minmax(60px, auto));
  text-align: center;
}

.today {
  color: var(--point-skyblue-color) !important;
}
